
{% extends 'base.html' %}
{% block mycontent %} 
<h1>mount zion college</h1>
<table class="table">
    <tr>
        <td> student name</td>
        <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>rollno</td>
        <td><input type="text" class="form-control"></td>
    </tr>
    <tr>
        <td>admission number</td>
        <td><input type="text" class="form-control"></td>
    </tr>
    <tr></tr>
    <td></td>
    <td><button class="btn btn-primary">submit</button></td>
</table>
{% endblock %}


    